.input-field {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
        font-weight: bold;
        font-size: 18px;
    }

    input {
        background-color: #f1f5f9;
        border: 1px solid #cbd5e1;
        padding: 0.5rem;
        border-radius: 10px;
        margin-bottom: 1rem;
    }

    input:focus {
        outline: 2px solid theme('colors.accent'), 0.2;
    }
}