@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/Satoshi-Regular.woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Satoshi', sans-serif;
  color: #111;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
} h2 {
  font-size: 1.25rem;
} h3 {
  font-size: 1.1rem;
}

button {
  font-family: 'Satoshi', sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  // background-color: ;

  &:hover {
    opacity: 0.8;
  }
}